<FlexboxLayout flexDirection="row" class="opcion">
    <Button class="opcion--btn__inactivo" text="Resumen" (tap)="accionNavegador(1)" ></Button>
    <Button class="opcion--btn__inactivo" text="2" (tap)="accionNavegador(2)"></Button>
    <Button class="opcion--btn__inactivo" text="3" (tap)="accionNavegador(3)"></Button>
    <Button class="opcion--btn__invisible" text="4" (tap)="accionNavegador(4)"></Button>
    <Button class="opcion--btn__activo" text="menu" (tap)="abrirModalDeMenu()" ></Button>
</FlexboxLayout>
