/* Add mobile styles for the component here.  */
.pantalla{
    background-color: white;
    padding-top: 25;
    margin-top:33%
}
.pantalla--icono{ width: 100 }
.pantalla--texto{ text-align:center;
    font-size: 22}
.pantalla--subtexto{  text-align:center;
    font-size: 18}
.pantalla--logo{ width: 80 }
